.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;

}

.form-control label,
.form-control input{
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.login-form button {
  margin-top: 1rem;
}